<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video Catalog</title>
    <link rel="stylesheet" href="/fontawesome/css/all.min.css"> <!-- https://fontawesome.com/ -->
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">
    <!-- https://fonts.google.com/ -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/templatemo-video-catalog.css">
</head>
<!--

TemplateMo 552 Video Catalog

https://templatemo.com/tm-552-video-catalog

-->
<body>
	<div class="tm-page-wrap mx-auto">
		<div class="col-7 col-md-4">
			<a href="/index.html" class="tm-bg-black text-center tm-logo-container">
				<i class="fas fa-video tm-site-logo mb-3"></i>
				<h1 class="tm-site-name">Video Catalog</h1>
			</a>
		</div>
		<!-- Page content -->
		<div class="container-fluid">
			<div class="mx-auto tm-content-container">
				<main>
					<div class="row mb-5 pb-4">
						<div class="col-12">
							<img src="/<%= photo.image %>" alt="Image" class="img-fluid tm-catalog-item-img">
						</div>
					</div>
					<div class="row mb-5 pb-5">
						<div class="col-xl-8 col-lg-7">
							<!-- Video description -->
							<div class="tm-video-description-box">
								<h2 class="mb-5 tm-video-title"><%= photo.title %></h2>
								<p>  <%= photo.description %>  </p>
							</div>							
						</div>
					</div>
				</main>
				<div>
					<a  href="/edit/<%=photo._id%>" class="btn btn-primary p-0 tm-btn-animate tm-btn-download tm-icon-download"><span>Edit Informations</span></a>	
					<a  onclick="return confirm('Are You Sure')"  href="/delete/<%=photo._id%>?_method=DELETE" class="btn btn-primary p-0 tm-btn-animate tm-btn-download tm-icon-download"><span>Delete Photo</span></a>	
				</div>	
			</div> <!-- .tm-content-container -->
		</div>
	</div>

	<script src="js/jquery-3.4.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script>
    	$(document).ready(function() {
    		$('.tm-likes-box').click(function(e) {
    			e.preventDefault();
    			$(this).toggleClass('tm-liked');

    			if($(this).hasClass('tm-liked')) {
    				$('#tm-likes-count').html('486 likes');
    			} else {
    				$('#tm-likes-count').html('485 likes');
    			}
    		});
    	});
    </script>
</body>
</html>