	<%- include('./partials/header.ejs') %>
    <div id="overviews" class="section wb">
        <div class="container">
            <div class="row"> 
                <div class="col-lg-9 blog-post-single">
                    <div class="blog-item">
						<div class="image-blog">
							<img src="/images/blog_single.jpg" alt="" class="img-fluid">
						</div>
						<div class="post-content">
							<div class="post-date">
								<span class="day"><%= course.date.getDate() %></span>
								<span class="month"><%= course.date.toLocaleString('default', { month: 'long' }); %></span>
							</div>
							<div class="meta-info-blog">
								<span>
									<% if(user && role == "student"){ %>
										<% if(!user.enrolled_courses.includes(course._id)) { %>
											<form method="post" action="/courses/enroll">
												<input type="hidden" name="course_id" class="form-control" value=<%= course._id %>>
												<button type="submit" class="btn btn-primary">ENROLL</button>
											</form>
										<% } else { %>
											<button type="submit" class="btn btn-primary">YOU ENROLLED THİS COURSE</button>
										<% } %>
									<% } %>
								</span>
							</div>
							<div class="blog-title">
								<h2><a href="#" title="">
									<%= course.title %>
								</a></h2>
							</div>
							<div class="blog-desc">
								<p>
									<%= course.description %>
								</p>
							</div>							
						</div>
					</div>
					
					<div class="blog-author">
						<div class="author-bio">
							<h3 class="author_name"><a href="#">
								<%= teacher.name %>
							</a></h3>
							<h5>CEO at <a href="#">SmartEDU</a></h5>
							<p class="author_det">
								Lorem ipsum dolor sit amet, consectetur adip, sed do eiusmod tempor incididunt  ut aut reiciendise voluptat maiores alias consequaturs aut perferendis doloribus omnis saperet docendi nec, eos ea alii molestiae aliquand.
							</p>
						</div>
						<div class="author-desc">
							<img src="/images/author.jpg" alt="about author">
							<ul class="author-social">
								<li><a href="#"><i class="fa fa-facebook"></i></a></li>
								<li><a href="#"><i class="fa fa-twitter"></i></a></li>
								<li><a href="#"><i class="fa fa-skype"></i></a></li>
							</ul>
						</div>
					</div>
					
                </div><!-- end col -->
				<div class="col-lg-3 col-12 right-single">
					<div class="widget-search">
						<div class="site-search-area">
							<form method="get" id="site-searchform" action="#">
								<div>
									<input class="input-text form-control" name="search-k" id="search-k" placeholder="Search keywords..." type="text">
									<input id="searchsubmit" value="Search" type="submit">
								</div>
							</form>
						</div>
					</div>
					<div class="widget-categories">
						<h3 class="widget-title">Categories</h3>
						<ul>
							<li><a href="#">Political Science</a></li>
							<li><a href="#">Business Leaders Guide</a></li>
							<li><a href="#">Become a Product Manage</a></li>
							<li><a href="#">Language Education</a></li>
							<li><a href="#">Micro Biology</a></li>
							<li><a href="#">Social Media Management</a></li>
						</ul>
					</div>
				</div>
            </div><!-- end row -->
        </div><!-- end container -->
    </div><!-- end section -->

    <%- include('./partials/footer.ejs') %>